.main {
    /* margin: 5px 20px 20px 20px; */
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}


/* постти */
.posts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 15px;
}