main {
    padding: 5px 20px 20px 20px;
    flex: 1;
}

/* постти */
/* .posts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 15px;
} */