.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    padding: 10px 20px;
    font-family: 'Poppins', sans-serif;
    flex-wrap: wrap;
}

.rightHeaderPart {
    display: flex;
    align-items: center;
    gap: 50px;
}

.links {
    display: flex;
    gap: 30px;
    font-weight: 500;
    font-size: 18px;
}

.link {
    position: relative;
    text-decoration: none;
    color: #2B2828;
    padding-bottom: 3px; 
    transition: color 0.3s ease;
}

.link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: #2B2828;
    transition: width 0.3s ease;
}

.link:hover::after {
    width: 100%;
    border-radius: 100px;
}

.active {
    color: #2B2828;
    font-weight: 600;
}

.active::after {
    width: 100%; 
    border-radius: 100px;
}

.link span {
    font-size: 13px;
    align-items: center;
}

.btnDiv {
    display: flex;
    gap: 15px;
}

.btnReg, .btnLog {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;

    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;

    background-color: #FCE4F1;
    box-shadow: 0 0 0 1px #E8CAD6; 
    transition: background 0.2s ease, transform 0.2s ease;
}

.btnReg:hover, .btnLog:hover {
    background-color: #FCE4F1;
}

