* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

* {
    scrollbar-width: none;      
    -ms-overflow-styles: none;   
}

*::-webkit-scrollbar {
    display: none;          
}