.postContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;

    width: calc(100% - 10px);
    margin: 0 auto; 

    background: #ffffff;
    border-radius: 22px;
}

.postAuthor {
    display: flex;
    align-items: center;
    gap: 12px;
}

.authorAvatar {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    object-fit: cover;
}

.authorName {
    font-size: 16px;
    /* font-weight: 600; */
    color: #2B2828;
}

.postTitle {
    font-size: 20.5px;
    /* font-weight: 600; */
    color: #4A4A4A;
}

.postTag {
    color: #86646E;
    font-weight: 500;
    font-size: 17.5px;
    margin-right: 8px;
}

.postDescription {
    font-size: 17.5px;
    color: #4A4A4A;
    line-height: 1.5;
}


.imageContainer {
    width: 100%;
    border-radius: 18px;
    overflow: hidden; 
}

.postImage {
    width: 100%;
    height: 340px;
    object-fit: cover; 
    display: block;

    transition: transform 0.4s ease;
    background-size: cover;
    background-position: center;
    transition: background 0.3s ease;
}


.postImage:hover {
    background-image:
        linear-gradient(
            to top,
            rgba(170, 140, 150, 0.35),
            transparent 50%
        ),
        linear-gradient(
            to left,
            rgba(170, 140, 150, 0.2),
            transparent 40%
        ),
        linear-gradient(
            to right,
            rgba(170, 140, 150, 0.2),
            transparent 40%
        ),
        var(--image);
}

.postStatus {
    display: flex;
    gap: 22px;
    align-items: center;

    margin-top: 5px;
    font-size: 15px;
    color: #2B2828;
    font-weight: 500;
    opacity: 0.85;
}

.postStatus p {
    display: flex;
    align-items: center;
    gap: 6px;
}

@media (max-width: 600px) {
    .postContainer {
        padding: 18px;
        border-radius: 18px;
    }

    .postImage {
        height: 220px;
    }

    .postTitle {
        font-size: 19px;
    }

    .postDescription {
        font-size: 16px;
    }
}
